<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.anb.pos">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ANBApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="d3d5cab3895822107d32e18428bbbdb4d58e9647" />

        <activity
            android:name=".home.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>